@use "base-theme.module";

.custom-button {
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4%;
  font-weight: 500;
  line-height: 1.3;
  appearance: none;
  height: 4em;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  background: base-theme.$buttonColor;
  font-family: base-theme.$primaryFontFamily;
}
