@use "./base-theme.module";

$dressCodePadding: 5vh;
$dressCodeContainerHeight: 30vh;
$informationTimeLineHeight: 50vh;

$lineBackground: #838383;

#itinerary {
  padding: 0.5em 1em 1em 1em;
  font-size: 0.9em;

  #dress-code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $dressCodeContainerHeight;
    padding-top: $dressCodePadding;

    h1 {
      margin: 0;
      font-family: base-theme.$secondaryFontFamily;
      font-size: 1.4em;
    }

    #icon-container {
      min-width: 20%;
      max-width: 30%;
      min-height: 30%;
      max-height: 40%;
      align-self: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    #first-instruction {
      padding-top: 0.5em;
    }

    #second-instruction-container {
      padding-top: 0.4em;
      font-style: italic;
    }

    #important-instruction {
      padding-top: 1em;
      display: flex;
      justify-content: center;
      width: 85vw;
      margin: 0 5vw;

      span {
        color: rgba(255, 0, 0, 0.828);
        font-weight: 800;
      }

      p {
        font-size: 0.95em;
        font-weight: 800;
      }
    }
  }

  #information-timeline {
    color: #fff;

    ul {
      padding: 2em 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $informationTimeLineHeight;

      li {
        position: relative;
        list-style-type: none;
        flex: 1;
        width: 6px;
        background: $lineBackground;

        div {
          position: absolute;
          bottom: 0;
          width: 6em;
          padding: 1em;
          background: base-theme.$primaryColor;
          font-size: 0.8em;
          text-align: right;

          :nth-child(1) {
            font-family: base-theme.$secondaryFontFamily;
            font-size: 1.3em;
            font-weight: 400;
          }

          :nth-child(2) {
            font-size: 1em;
          }
        }

        div::before {
          content: "";
          position: absolute;
          bottom: 0.5em;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }

      li::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        background: inherit;
        z-index: 1;
      }

      .heart-icon {
        position: absolute;
        left: 50%;
        bottom: 0.02em;
        transform: translateX(-50%);
        background: inherit;
        z-index: 3;
      }

      li:nth-child(odd) div {
        left: 2.5em;
        top: 25%;
      }

      li:nth-child(odd) div::before {
        left: -0.9em;
        border-width: 0.7em 1em 0.7em 0;
        border-color: transparent base-theme.$primaryColor transparent
          transparent;
      }

      li:nth-child(even) div {
        right: 2.5em;
        top: 15%;
      }

      li:nth-child(even) div::before {
        right: -0.9em;
        border-width: 0.7em 0 0.7em 1em;
        border-color: transparent transparent transparent
          base-theme.$primaryColor;
      }
    }
  }
}

@media (min-height: 1000px) {
  #information-timeline ul li div {
    font-size: 1.2em !important;
  }

  #information-timeline ul li:nth-child(odd) div {
    top: 28% !important;
  }

  #information-timeline ul li:nth-child(even) div {
    top: 17% !important;
  }
}

@media (max-height: 700px) {
  #information-timeline ul {
    padding: 1em 1em !important;
  }
}